:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --contrast-text-color: #ffffff;
    --address-item-color: rgba(255, 255, 255, 0.6);

    --accent-color: #2196F3;
    --button-accent: #188CE8;

    --primary-background: #ffffff;
    --secondary-background: #2F303A;
    --content-background: #F5F4FA;
    --team-background: #FFFFFF;
    --button-background: #F5F4FA;    
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    color: var(--primary-text-color);
    font-family: 'Roboto', -apple-system,
        BlinkMacSystemFont,
        avenir next,
        avenir,
        segoe ui,
        helvetica neue,
        helvetica,
        Cantarell,
        Ubuntu,
        roboto,
        noto,
        arial,
        sans-serif;

}

.line {
    border-bottom: 1px solid #ECECEC;
}
.container {
    display:flex;
  
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
}

.logo,
.logo-footer {
    font-family: Raleway;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;    
    letter-spacing: 0.03em;
}

.logo {
    color:var(--primary-text-color);
    margin-right: 93px;
}

.logo:visited,
.link:visited {
    color: var(--primary-text-color);
}

.logo-accent {
    color: var(--accent-color);
}


.list {
    display: flex;
    margin-top: 0;
    margin-bottom: 0; 

    list-style: none;
}

.nav {
    padding-left: 0;
}

.list .nav-item + .nav-item{
    margin-left: 50px;
}

.list .link.current {
    color: var(--accent-color);
}

.link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.link:hover,
.link:focus,
.contact-item:hover,
.contact-item:focus {
    color: var(--accent-color);
}

.contacts-head {
    margin-left: auto;

}

.contact-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    color: var(--secondary-text-color);
    letter-spacing: 0.02em;
}

/* Стилі index.html */
.hero {
    background-color: var(--secondary-background);
    text-align: center;
    padding: 200px 0;
}

.hero-title {
    max-width: 696px;
    margin: 0 auto 30px;
    color: var(--contrast-text-color);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em; 
}

.btn {
    padding: 10px 32px;
    background-color: var(--accent-color);
    color: var(--contrast-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    font-family: inherit;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    
}

.btn:hover,
.btn:focus {
    background-color: var(--button-accent);
}

/* Переваги */

.list .benefits-item + .benefits-item {
    margin-left: 30px;
}
.benefits-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.benefits-text {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.benefits .container {
    align-items: start;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
} 

.benefits {
    padding-bottom: 0;
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
/* Чим ми займаємось */

.list .service-item + .service-item {
    margin-left: 30px;
}
/* Команда */
.team {
    background-color:var(--content-background);
}

.team-item {
    background: var(--team-background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}

.list .team-item + .team-item {
    margin-left: 30px;

}

.img-contact {
    margin-bottom: 30px;
}
.name {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team-direct {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

/* Footer */

.contacts {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-background);
}

.contacts .container {
    flex-direction: column;
    align-items: start;
}
.logo-footer,
.logo-footer:visited {
    margin-bottom: 20px;
    color: var(--contrast-text-color);
}

.address-list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;

    list-style: none;

}
.address-link,
.address-link:visited {
    color: var(--contrast-text-color);
    text-decoration: none;
}

.address-item {
    color: var(--address-item-color);
    text-decoration: none;
}

.address-link:hover,
.address-link:focus,
.address-item:hover,
.address-item:focus {
    color: var(--accent-color);
}

/* Стилі portfolio.html */

.filter-container {
    margin-bottom: 50px;
}

.filter {
    display:flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.btn-filter {
    padding: 6px 22px;
    min-width: 73px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    background-color: var(--button-background);
    border:none;
    border-radius: 4px;

    cursor: pointer;
}

.filter .filter-item +.filter-item {
    margin-left: 8px;
}

.btn-filter:hover,
.btn-filter:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    color: var(--contrast-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-top:0;
    margin-bottom: 0;
    list-style: none;
}

.projects-item {
    width: calc((100% - 60px) / 3);
    /* width: 370px; */
    margin-right: 30px;
    margin-bottom: 30px;
}

.projects-item:nth-child(3n) {
    margin-right: 0;
}

.projects-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.project-img {
    display: block;
}

.projects-link {
    text-decoration: none;
}

.project-border {
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;

    padding: 20px 24px;
}
        

.projects-title {
    margin: 0;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color)
}

.projects-text {
    margin: 0;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
